<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>
    <form method="post" action="/main">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
    <br>
    <form method="get" action="filter">
        <input type="text" name="tag" placeholder="Введите тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Найти</button>
    </form>

</div>
<div>Список сообщений</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>